@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
:root{
    --theme-font:'Nunito', sans-serif;
    --theme-bg-color: #4d90ca
}
html{
    font-family: var(--theme-font);
    scroll-behavior: smooth;
}
.aboutus{
    background-color: var(--theme-bg-color);
    color: bisque;
}
#services{
    background-color: var(--theme-bg-color);
    color: bisque;
}
li{
    list-style-type: none;
}
footer{
    background-color: bisque;
    height: 200px;
    color: var(--theme-bg-color);
}
.inblock{
    background-color: #4d90ca85;
    color: bisque;
    padding: 36px;
    position: absolute;
    z-index: +1;
    top: 44%;
    left:20%;
}